In [4]:
from sklearn.datasets import make_classification

In [22]:
features, target = make_classification(n_samples = 250, n_features = 8, n_informative = 6, n_redundant = 2, n_classes = 2, weights = [.7,.3])

In [23]:
import pandas as pd

In [30]:
pd.DataFrame(features).head()

,0,1,2,3,4,5,6,7
0,1.174216,-0.314434,1.278703,0.721018,0.471572,0.676239,0.112078,-0.001193
1,-6.591458,-0.973382,0.855256,-2.525741,-2.614801,-1.510973,5.230718,3.441782
2,1.504502,1.132635,2.262483,0.306010,1.587664,-0.755066,-3.732055,-3.703780
3,-3.485870,-2.319587,1.817633,-2.055966,-0.383014,-1.086068,3.644584,1.379976
4,0.318677,-0.549945,-0.441828,0.481756,-2.007949,1.357746,2.318030,1.011035

In [31]:
pd.DataFrame(target).head()

   0
0  1
1  0
2  1
3  0
4  0